.welcome-text {
  display: inline-block;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
}

/* Tema escuro */
.dark .welcome-text {
  color: #fafafa;
  border-bottom: 1px solid #52525b;
}

/* Tema claro */
.light .welcome-text {
  color: #09090b;
  border-bottom: 1px solid #d4d4d8;
}
